In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [5]:
#Load the data set
data = pd.read_csv('/content/bank-full.csv', sep=';')

In [6]:
data

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

In [7]:
data.shape

(45211, 17)

In [8]:
data = data.dropna()

In [9]:
data.shape

(45211, 17)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 6.2+ MB

In [11]:
x = data.iloc[:,:16]
y = data.iloc[:,16]

In [12]:
x = pd.get_dummies(x)
x

       age  balance  day  ...  poutcome_other  poutcome_success  poutcome_unknown
0       58     2143    5  ...               0                 0                 1
1       44       29    5  ...               0                 0                 1
2       33        2    5  ...               0                 0                 1
3       47     1506    5  ...               0                 0                 1
4       33        1    5  ...               0                 0                 1
...    ...      ...  ...  ...             ...               ...               ...
45206   51      825   17  ...               0                 0                 1
45207   71     1729   17  ...               0                 0                 1
45208   72     5715   17  ...               0                 1                 0
45209   57      668   17  ...               0                 0                 1
45210   37     2971   17  ...               1                 0                 0

[45211 rows x 51 columns]

In [13]:
classifier = LogisticRegression()
classifier.fit(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
#Predict for X dataset with (0 and 1)
y_pred = classifier.predict(x)

In [16]:
y_pred_df = pd.DataFrame({'actual':y,
                          'predicted_prob' : classifier.predict(x)})
y_pred_df

      actual predicted_prob
0         no             no
1         no             no
2         no             no
3         no             no
4         no             no
...      ...            ...
45206    yes            yes
45207    yes             no
45208    yes            yes
45209     no             no
45210     no             no

[45211 rows x 2 columns]

In [17]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y, y_pred)
print(confusion_matrix)

[[39136   786]
 [ 4107  1182]]

In [21]:
#Accuracy of the algorithm
print('Accuracy :',((39136+1182)/(39136+786+4107+1182))*100)

Accuracy : 89.17741257658534

In [19]:
#Classification report
from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

          no       0.91      0.98      0.94     39922
         yes       0.60      0.22      0.33      5289

    accuracy                           0.89     45211
   macro avg       0.75      0.60      0.63     45211
weighted avg       0.87      0.89      0.87     45211

Accuracy of the model is 89.17% which is a very good model.